<div id = "farm-banner" class = "row col-md-offset-2 col-md-8">
  <div class = "col-md-8 col-md-offset-3">
    <h3><%= @farm.name %> <small><%= @farm.description %></small></h3>
  </div>
</div>

<div class = "col-md-8 col-md-offset-2">
  <div id = "profile-picture" class = "col-md-3"> <%= image_tag @farm.photo_url, width: 200, height: 200, class: "thumbnail" %></div>

  <div id = "farm-menu" class = "col-md-12">
    <%= link_to "Products", farm_products_path(@farm), class: "menu-link" %> | 
    <%= link_to "Photos", "#", class: "menu-link" %> | 
    <%= link_to "About", "#", class: "menu-link" %> | 

  </div>
</div>

<%= render "shared/search_controls" %>
<div id = "farm-products">
  <% @products.each do |p| %>
    <div class = "col-md-offset-2 col-md-8 search-result row">
      <div class = "row">

        <div class = "col-md-2 product-picture">
          <%= image_tag p.photo_url, width: 100, height: 100 %> 
        </div>

        <div class = "col-md-8 product-details">
          <h3> <%= p.name %>        </h3>
          <p>  <%= p.description %> <p>
          <%= link_to "View Product", product_path(p), class: "product-link" %>
        </div>

        <div class = "col-md-2 farm-picture">
          <%= image_tag p.farm.photo_url, width: 125, height:100 %>
        </div>
      </div>

    </div>
  <% end %>
</div>
