<div id = "content">

  <div class = "" id = "banner">

    <div class = "transparency" >
    </div>

    <div class = "banner-content col-md-12" id = "home-tagline">
        <h3 class = "col-md-offset-2">Welcome to Chicken Chasing! The best place to buy and sell locally.</h3>
    </div>

  </div>


  <div class = "" id = "paths">

    <div class = "hidden shadow left-shadow" ></div>
    <div class = "hidden shadow right-shadow"></div>

    <div class = "col-md-offset-1 col-md-5 path-content" >
      <%= form_tag( product_search_path, method: :get, class: "form-inline", role: "form"  ) do %>
        <div class = "form-group" id = "product-search">
          <%= label_tag :find_local_food, "Find Local Food!", id: "find-food" %>
          <%= text_field_tag :product_search, "", class: "form-control", placeholder: "Eggs, Milk, etc." %>
        </div>
      <% end %>
    </div>

    <div class = "col-md-1 path-content">
      <%= label_tag :or, "or", id: "or" %>
    </div>

    <div class = " col-md-4 path-content">
      <%= label_tag :sell_local_food, "Sell Local Food!", id: "find-food" %>
    </div>

  </div>

</div>
