
<%= stylesheet_link_tag 'landing' %>
<%= javascript_include_tag 'appliation' %>
<%= javascript_include_tag 'landing' %>

<meta name="viewport" content="width=device-width, initial-scale=1">


<div class = "container-fluid">
  <div class = "col-xs-offset-10 menu"><%= link_to "News", "http://www.columbiatribune.com/news/local/business-idea-team-gets-inspiration-from-the-farm-during-startup/article_34f6841e-c03c-5506-a569-d42833abac00.html" %></div>
  <div class = "logo col-xs-offset-1">
    <%= image_tag "white_logo_no_words.png", width: "150px", class: "logo-image" %>
    <h1>CHICKEN CHASING</h1>
  </div>


  <div class = "pitch col-xs-10 col-xs-offset-1 ">
    Connecting farmers and their customers.
  </div>

  <br />
  <br />
  <br />
  <br />
  <div class = "searchBar col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <%= form_tag( email_list_path, class: "form-inline", role: "form"  ) do %>

      <div class = "text-box-container">
        <%= text_field_tag :email_list, "", class: "form-control emailTextField col-xs-12", placeholder: "Join our email list" %>
        <div class = "mail-button glyphicon glyphicon-envelope"></div>
      </div>

    <% end %>
  </div>
</div>
