<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment_method.user_id %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @payment_method.nickname %>
</p>

<p>
  <strong>Token:</strong>
  <%= @payment_method.token %>
</p>

<%= link_to 'Edit', edit_payment_method_path(@payment_method) %> |
<%= link_to 'Back', payment_methods_path %>
