<div class = "col-md-8 col-md-offset-2">
  <h2> Login! </h2>

  <%= form_for :session, url: sessions_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <br />
    <br />
    <%= f.submit "Login", class: "btn btn-small btn-primary" %>

  <% end %>

  <p>
  <div class = "left" >Haven't signed up yet? <%= link_to "Sign up!", signup_path %></div>
  <div class = "right" >Forgot your password? <%= link_to "Reset it here!", '#' %></div>
  </p>

</div>


