<div class="container">
	<div class='row'>
		<span class='col-md-8 col-md-offset-2'>
			<h1 class='dark-green'>Your Cart</h1>
			<table class="product-table">
				<tr>
					<th>Item</th>
					<th>Product</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
				<% @product_hash.keys.each do |p| %>
					<tr>
						<td style='width: 60px;'><%= image_tag p.image.url(:thumb) %></td>
						<td><label><%= p.name %></label></td>
						<td><label class="quantity"><%= p.quantity %></label></td>	
						<td><label><%= p.description %></label></td>
						<td><label>$<%= p.price %></label></td>
					</tr>
				<% end %>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td><label>Total</label></td>
					<td><label><%= cart_total_for @product_hash %></label></td>
				</tr>
			</table>
		<div class="row">
			<div class="clear"></div>
			<%= link_to 'Update and Check Out', checkout_path, class: 'btn btn-checkout btn-large pull-right' %>
		</div>
		</span>
	</div>
	</div>
	<div class="clear"></div>

</div>

