
<div class = "container-fluid">
	<% @product_hash.keys.each do |p| %>
		<div class = "col-md-offset-2 col-md-8 search-result row">
			<div class = "row">

				<div class = "col-md-2 product-picture">
					<%= image_tag p.image.url(:thumb) %>
				</div>

				<div class = "col-md-8 product-details">
					<h3> <%= p.name %> (<%= @product_hash[p] %>) </h3>
					<p>  <%= p.description %> <p>
						<%= link_to "View Product", product_path(p), class: "product-link" %>
						<%= link_to "View Farm", farm_path(p.farm), class: "product-link" %>
					</div>

					<div class = "col-md-2 farm-picture">
						<%= image_tag p.farm.image.url(:thumb) %>
					</div>
				</div>
			</div>
		</div>
	<% end %>

</div>
