<div class = "col-md-offset-2 col-md-8 row">

  <%= form_tag( product_search_path, method: :get, class: "form-inline", role: "form"  ) do %>
    <div class = "form-group col-md-3 left" id = "product-search">
      <small><%= label_tag "Find something else!" %></small>
      <%= text_field_tag :product_search, "", class: "form-control", placeholder: "Eggs, Milk, etc." %>
    </div>
  <% end %>

  <div class = "form-group col-md-3 right" id = "sorting-controls">
    <small><%= label_tag "Sort By" %></small>
    <%= select_tag :sort_by, "<option>Price</option><option>Distance</option>".html_safe, class: "form-control" %>
  </div>
</div>

