
<div class = "col-md-offset-2 col-md-8 row">

  <%= form_tag( product_search_path, class: "form-inline", role: "form"  ) do %>

    <div class = "form-group col-md-3" id = "product-search">
      <small><%= label_tag "Product" %></small>
      <%= text_field_tag :product_search, "", class: "form-control", placeholder: "Eggs, Milk, etc." %>
    </div>

    <div class = "form-group col-md-3" id = "sorting-controls">
      <small><%= label_tag "Sort By" %></small>
      <%= select_tag :sort_by, "<option>Price</option><option>Distance</option>".html_safe, class: "form-control" %>
    </div>

    <div class = "form-group col-md-3" id = "zipcode">
      <small><%= label_tag "Zip Code" %></small>
      <%= text_field_tag :zip_code, "", class: "form-control", placeholder: "12345" %>
    </div>

    <div class = "form-group col-md-3" id = "display-type">
      <small><%= label_tag "Display Type" %></small>
      <br />
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="checkbox"> List
        </label>
        <label class="btn btn-primary">
          <input type="checkbox"> Map
        </label>
      </div>
    </div>

  <% end %>

</div>


