<div class = "form-page item active col-md-8 col-md-offset-2" id = "farmer-form" ng-controller = "farmerSignupCtl" ng-app>

  <h4 class = "alert alert-info fade hidden" id = "myAlert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    When you're done you can click the <strong>right arrow</strong> or press the <strong>right arrow key</strong> to move on!
  </h4>

  <div class = "direction-arrow"></div>
  <div class = "errors">
  </div>

  <h3> Getting Started?</h3>

  <strong>
    <p> 
    <h4>
      To begin, enter some basic information to set up your profile.
    </h4>
    </p>
  </strong>

  <%= form_for @farmer do |f| %>

    <%= render 'shared/error_messages' %>
    <%= f.fields_for :user do |ff| %>

      <%= ff.label :name %>
      <%= ff.text_field :name, class: "form-control" %>

      <%= ff.label :email %>
      <%= ff.text_field :email, class: "form-control"  %>

      <%= ff.label :password %>
      <%= ff.password_field :password, class: "form-control"  %>

      <%= ff.label :password_confirmation, "Confirmation" %>
      <%= ff.password_field :password_confirmation, class: "form-control"  %>

    <% end %>

    <%= f.label "What's your favorite quote?" %>
    <%= f.text_field :favorite_quotes, class: "form-control"  %>

    <%= f.fields_for :user do |ff| %>
      <%= ff.label :avatar, "Upload your profile picture!" %>
      <%= ff.file_field :avatar, class: "form-control" %>
    <% end %>
    <br />
    <br />
    <%= f.submit "Now let's move on to setting up the products you'll sell!", class: "btn-warning btn btn-lg right" %>
  <% end %>
    <br />
    <br />
    <br />
    <br />
     <br />
</div>

