<div class="col-md-8 col-md-offset-2">
  <aside>
  <section>
  <h1>
    <%= gravatar_for @farmer.user %>
    <%= @farmer.user_name %>
  </h1>
  </section>
  </aside>
   
  <div id = "content" class = "col-md-6" style = "border: 1px solid black;">
    <div id = "farm-info">
      <dl>
        <dt><strong>Favorite Quotes:</strong> <%= @farmer.favorite_quotes %></dt>
        <dt><strong>Role Models:</strong> <%= @farmer.role_models %></dt>
        <dt><strong>Farm:</strong> <%= link_to @farmer.farm_name, @farmer.farm %></dt>
        <dt><strong> <%= link_to "Add a product", new_product_path %></strong></dt>
      </dl>

    </div>
  </div>



</div>


