<%= render "shared/search_controls" %>

<% @products.each do |p| %>
  <div class = "col-md-offset-2 col-md-8 search-result row">
    <div class = "row">

      <div class = "col-md-2 product-picture">
        <%= image_tag p.image.url(:thumb) %>
      </div>

      <div class = "col-md-8 product-details">
        <h3> <%= p.name %>        </h3>
        <p>  <%= p.description %> <p>
        <%= link_to "Add to Cart", "#", class: "product-link" %>
        <%= link_to "View Product", product_path(p), class: "product-link" %>
        <%= link_to "View Farm", farm_path(p.farm), class: "product-link" %>
      </div>

      <div class = "col-md-2 farm-picture">
        <%= image_tag p.farm.photo_url, width: 125, height:100 %>
      </div>
    </div>

  </div>
<% end %>
