
<div id = "sidebar" class = "col-md-3">
  <div id = "product-image">
    <%= image_tag @product.image.url(:medium), class: "right" %>
  </div>
</div>

<div id = "" class = "col-md-6" >
  <div id = "product-info">
    <dl>
      <h3>
        <dt>
          <strong>Product Name:</strong> <%= @product.name %>
        </dt>
      </h3>
      <dt>
        <strong>Sold By:</strong> <%= @product.farmer.user.name %>
      </dt>
      <dt>
        <strong>Rating:</strong> <%= @product.rating %>
      </dt>
      <dt>
        <strong>Price:</strong> $<%= @product.price %>
      </dt>
    </dl>

    <div id = "product-description">
      <p><strong>Description:</strong></p>
      <p id= "description"> <%= @product.description %> </p>
    </div>

    <div id= "shipping-methods">
      <p><strong>Shipping Methods:</strong></p>
    </div>

    <div id= "other-products">
      <p><strong>Other Products by:</strong> <%= @product.farmer.user.name %> </p>
    </div>
  </div>
</div>

<div id = "cart-controls" class = "col-md-3">
  <div id="product-checkout">
    <dt>
      <strong>Quantity:</strong> <%= @product.quantity %> <!-- Add Quantity Migration-->
    </dt>
    <dt>
      <strong>Total Price:</strong> <!-- Quantity * Price -->
    </dt>
    <dt>
      <span class = 'glyphicon glyphicon-shopping-cart menu popover-dismiss' id="cart-add"><strong>Add</strong></span>
    </dt>
  </div>
</div>

