
<div id = "sidebar" class = "col-md-3">
  <div id = "product-image">
    <%= image_tag @product.image.url(:medium), class: "right" %>
  </div>
</div>

<div id = "" class = "col-md-6" >
  <div id = "product-info">
    <dl>
      <h3><dt><strong>Product Name:</strong> <%= @product.name %></dt></h3>
      <dt><strong>Sold By:</strong> <%= @product.farmer.user.name %></dt>
      <dt><strong>Rating:</strong> <%= @product.rating %></dt>
      <dt><strong>Price:</strong> $<%= @product.price %> </dt>
    </dl>

    <div id = "product-description">
      <p>Description: <%= @product.description %> </p>
    </div>
  </div>
</div>

<div id = "cart-controls" class = "col-md-3">
  This is where the add to cart stuff goes!
</div>
