<div id = "header">
  <span id = 'logo'>  <%= link_to logo, root_path %>  </span>
  <span id = "title"><%= link_to 'Chicken Chasing', root_path, class: 'menu title' %></span>

  <span id = "middleMenu">
    <div class = "left">
      <div id = "messages">
        <span class = 'glyphicon glyphicon-comment menu popover-dismiss' data-toggle="popover" data-placement="bottom" >
          <span class="badge chat-badge">0</span>
        </span> |
      </div>

    </div>
    <div id = "cart">
      <span class = 'glyphicon glyphicon-shopping-cart menu popover-dismiss' data-toggle="popover" data-placement="bottom" >
        <span class="badge cart-badge "><%= session[:cart_product_ids].count if session[:cart_product_ids] %></span>        
      </span>

      <div class = "cart-content hidden">
        <div class = "container-fluid">

          <% @product_hash.keys.each do |p| %>
            <div class = "product-in-cart row" data-product-id = "<%= p.id %>"> 
              <div class = "col-md-2 img-rounded"><%= image_tag p.image.url(:thumb), style: "width: 30px;" %></div>
              <div class = "col-md-7 product-in-cart-dropdown"><%= link_to p.name, product_path(p) %><br> <small>Quantity: <%= @product_hash[p] %></small></div>
              <div class = "col-md-2">
                <span class="glyphicon glyphicon-remove " data-product-id="<%= p.id %>">
                </span>
              </div>
            </div>
            <hr data-product-id = "<%= p.id %>">
          <% end %>

          <%= link_to "View Cart ( #{pluralize(@cart_products.count, 'item')} )", "/cart", class: "btn btn-primary cart-btn" %>
        </div>
      </div>

    </div>
  </span>

  <span id = "rightMenuSpan">
    <ul class = "menu">
      <li><%= link_to '* Premium', '#', class: 'menu' %></li>

      <% if signed_in? %>
        <li><%= link_to '* Logout', logout_path, method: 'delete', class: 'menu' %></li>
      <% else %>
        <li><%= link_to '* Login', login_path, class: 'menu' %></li>
      <% end %>

    </ul>
    <ul class = "menu">
      <li><%= link_to '* News','#', class: 'menu' %></li>
      <li><%= link_to '* Sign Up', '#', class: 'menu', "data-target" => "#myModal", "data-toggle" => "modal" %></li>
    </ul>
  </span>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Before you get started, would you like to sign up as a buyer or seller?</h4>
      </div>
      <div class="modal-body">
        <%= link_to "Buyer", new_user_path, method: :get, class: "btn btn-lg btn-primary left" %>
        <%= link_to "Seller", new_farmer_path, method: :get, class: "btn btn-lg btn-primary right" %>

      </div>
      <br />
      <div class="modal-footer">
        <%= link_to "Cancel", "data-dismiss" => "modal" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
