<!DOCTYPE html>
<html>
  <head>
    <title>ChickenChasing</title>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <div class = "offset2"><%= value %></div>
      </div>
    <% end %>

    <div class = "content offset2 span12">

      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      <%= signed_in? %>
    </div>
  </body>
</html>
