<!DOCTYPE html>
<html>
  <head>
    <title>ChickenChasing</title>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body ng-app>
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <div class = "offset2"><%= value %></div>
      </div>
    <% end %>

    <div class = "content offset2 span12">

      <%= yield %>
      <div class = "col-md-8 col-md-offset-2">
        <%= debug(params) if Rails.env.development? %>
      </div>

      <div class = "col-md-8 col-md-offset-2">
        <%= debug(session[:farmer_id]) if Rails.env.development? %>
      </div>

    </div>
    <%= javascript_include_tag :application %>
    
  </body>
</html>

