<!DOCTYPE html>
<html>
  <head>
    <title>Chicken Chasing</title>
    <%= render 'layouts/stylesheets' %>
    <link rel="shortcut icon" type="image/png" href="assets/chickenLogo-fav.png"/>
  </head>
  <body ng-app>
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <div class="col-md-8 col-md-offset-2 alert alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div class = ""><%= value %></div>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag :application %>
    
  </body>
</html>

